:root{
  --color-accent: #c9ffed;
  --color-bkg: azure;
  --user-sidebar-length: 3vw;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
hr{
  margin: 0 !important;
  padding: 0 !important;
  border-width: 2px !important;
}
#sidebar{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh !important;
  background-color: var(--color-accent) !important;
  width: var(--user-sidebar-length);
  overflow: hidden !important;
}
#sidebar .nav-pills{
  height: 100vh !important;
}
#sidebar a{
  width: 20vw !important;
  height: fit-content !important;
}
#sidebar-col{
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
#sidebar .channel-icon{  
  padding-left: 5px !important;
  padding-right: 20px !important;
  text-align: center !important;
}
#settings-modal{
  padding: 0 !important;
  margin: 0 !important;
}

#settings-close-button{
  position: absolute !important;
  right: 50px !important;
  top: 50px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
