


* {
    border-width: 0 !important;
}
/*body{
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bkg);
    overflow: hidden;
}*/
img.form-control{
    border-width: 5px !important;
    border-color: var(--color-accent);
    width: fit-content;
    height: auto !important;
}
.label{
    font-variant-caps: all-petite-caps;
    font-weight: bold;    
}
/*label.labelnav{    
    color: black;
}*/
label.form-control-color{
    width: fit-content !important;
    background-color: transparent;
    /*color: var(--color-bkg) !important;*/
}
input.form-control-color{
    padding: 0 !important;
    border-width: 2px !important;
    border-radius: 10px !important;
    border-color: black;
}
.modal{
    --bs-modal-zindex: 1050 !important;
}
.settings .row{margin-left: 0 !important; background-color: var(--color-bkg);}
#settings-nav{
    background-color: var(--color-accent) !important;
    height: 100vh !important;
    width: 40vw;
}#settings-nav *{
    text-align: right !important;
}
#settings-pages{    
    background-color: var(--color-bkg);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 40vw;
    /*width: auto !important;*/
    padding-left: 3%;
}
.divframe button{
    height: fit-content !important;
    width: fit-content !important;
    padding: 1% !important
}#settings-pages h3{
    padding-top: 10%;
}
.settings-nav-list{
    background-color: transparent;
}

.ps-30{
    padding-left: 30% !important;
}
.ps-10{
    padding-left: 10% !important;
}
.pe-10{
    padding-right: 10% !important;
}
.pt-20{
    padding-top: 20% !important;
}
.pt-10{
    padding-top: 5% !important;
}
.py-10{
    padding-top: 10% !important;
    padding-bottom: 10% !important;    
}
.justify-between, .justify-between *{
    display: flex !important;
    justify-content: space-between !important;
}
/*.justify-between *{
    max-width: 30% !important;
}*/
.justify-end, .justify-end *{
    display: flex !important;
    justify-content: end !important;
}
.btn.edit{
    background-color: transparent !important;
}
.btn-close{
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 999;    
}
.divframe{
    padding: 10% 10% 0 0;
}